<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>Reader | AmirHSD Weblog Sample</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="This is meta description">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Hugo 0.74.3" />

    <!-- theme meta -->
    <meta name="theme-name" content="reader" />

    <!-- JS Plugins -->
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modal.js"></script>

    <script src="/Content/plugins/instafeed/instafeed.min.js"></script>
    <script src="/Content/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/Content/plugins/slick/slick.min.js"></script>

    <!-- plugins -->
    <link rel="stylesheet" href="/Content/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/Content/plugins/slick/slick.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/Content/css/style.css" media="screen">


    <!--Favicon-->
    <link rel="shortcut icon" href="/Content/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/Content/images/favicon.png" type="image/x-icon">

    <meta property="og:title" content="Reader | Hugo Personal Blog Template" />
    <meta property="og:description" content="This is meta description" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:updated_time" content="2020-03-15T15:40:24+06:00" />
</head>
<body>
    <!-- navigation -->
    <header class="navigation fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-white">
                <a class="navbar-brand order-1" href="~/Home">
                    <img class="img-fluid" width="100px" src="/Content/images/logo.png"
                         alt="Reader | Hugo Personal Blog Template">
                </a>
                <div class="collapse navbar-collapse text-center order-lg-2 order-3" id="navigation">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Views/Home/About.cshtml">AboutUs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/amir-HSD/">GitHub</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- /navigation -->
    @if (ViewBag.ShowMainBanner == true)
    {
        @Html.Action("ShowMainBanner", "Home")
    }

    @if (ViewBag.ShowPostBanner == true)
    {
        @Html.Action("ShowPostsBanner", "Home")
    }

    @if (ViewBag.ShowMainBanner != true && ViewBag.ShowPostBanner != true)
    {
        <div class="py-4"></div>
    }

    <section class="section-sm">
        <div class="container">
            <div class="row justify-content-center">
                @RenderBody()

                @if (ViewBag.ShowCategory == true)
                {
                    <aside class="col-lg-4 sidebar-home">
                        <!-- Search -->
                        <div class="widget">
                            <h4 class="widget-title"><span>Search</span></h4>
                            <form action="~/Search" class="widget-search">
                                <input class="mb-3" id="search-query" name="q" type="search" placeholder="Type &amp; Hit Enter...">
                                <i class="ti-search"></i>
                                <button type="submit" class="btn btn-primary btn-block">Search</button>
                            </form>
                        </div>

                        @Html.Action("ShowCategory", "Home")

                        <!-- tags -->
                        @Html.Action("ShowTags", "Home")

                        <!-- recent post -->
                        @Html.Action("ShowRecentPost", "Home")
                    </aside>
                }

            </div>
        </div>
    </section>

    <!-- Main Script -->
    <script src="/Content/js/script.js"></script>

</body>
</html>