@model DataLayer.Page

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageGroup.PageGroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageGroup.PageGroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageImage)
        </dt>

        <dd>
            <img src="~/Content/images/@Model.PageImage" class="img-thumbnail" style="max-width: 100px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageVisitorCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageVisitorCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageCreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCreateDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", "pages", new { @class = "btn btn-secondary" })
        </div>
    }
</div>
