@model DataLayer.Page

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageGroup.PageGroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageGroup.PageGroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageImage)
        </dt>

        <dd>
            <img src="~/Content/images/@Model.PageImage" class="img-thumbnail" style="max-width: 100px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageVisitorCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageVisitorCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageCreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TagsPages)
        </dt>

        <dd>
            <select class="form-control" multiple="multiple" id="input-tags" name="tags">
                @foreach (var item in Model.TagsPages)
                {
                    <option selected>@item.Tag.TagName</option>
                }
            </select>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PageId }, new {@class ="btn btn-warning"}) |
    @Html.ActionLink("Back to List", "Index","pages",new {@class ="btn btn-secondary"})
</p>

<script>
    $('#input-tags').selectize({
        delimiter: ',',
        persist: false,
        createFilter: function (input) {
            return input.length > 2;
        },
        create: function (input) {
            return {
                value: input,
                text: input
            };
        }
    });

    $('#input-tags')[0].selectize.lock();

</script>
