@model IEnumerable<DataLayer.Page>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create","Pages",new {@class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PageGroup.PageGroupTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageVisitorCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageCreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PageGroup.PageGroupTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageTitle)
        </td>
        <td>
            <img src="~/Content/images/@item.PageImage" class="img-thumbnail" style="max-width: 100px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageVisitorCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageCreateDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.PageId }, new { @class = "btn btn-secondary" }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.PageId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PageId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
